/*
===============================
Custom Styles
===============================
*/
body {
	font-family: 'Lato', serif;
    font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 1em;
	color: #202021;
	background-color: #56a0d3;
}
h1,h2,h3,h4 {
	font-family: 'Lato', serif;
	font-weight: 500;
}
/*tool tip style*/
.d3-tip {
	line-height: 1;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}
ul {
	list-style: none;
}
/**,
*:before,
*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}*/
#header h1 {
	text-align: center;
	color: #fff;
}
#year-slider {
	width: 50%;
}
#geo-map {
	padding: 0.5em;
}
.title {
	text-align: center;
	background-color: #56a0d3;
	color: #fff;
	border-radius: 1em;
	padding: 0.4em;
	font-size: 1rem;
}
.geo-flex-container, .chart-flex-container {
	display: flex;	
}
.geo-flex-container, .charts-panel {
	padding: 1em;
	background-color: #fff;
	margin: 0.5em;
}
.geo-map-panel, #chart-tabs {
	flex:3;
	margin: 0.5em;
}
.control-panel, #tab-controls {
	flex: 1;
	margin: 0.5em;
}
#state-set, #tab-controls fieldset {
	border: 0;
}
#state-set label, #tab-controls label, #subgroups label{
	display: block;
    width: 80%;
    margin-bottom: 0.2em;
    text-align: left;
}
.demo-form, #subgroups {
	margin:0.2em;
}
#comp-result {
	margin-bottom: 1em;
}
.bar rect:hover {
	fill-opacity: 1;
}
.bar-other rect:hover {
	fill: #666666;
}
.states {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}
.ui-tabs .ui-tabs-nav {
	font-size: 0.9em;
}